body {
  margin: 0;
  padding: 0;
}

main {
  max-width: 1100px;
  margin: 0 auto;
}

button {
  background: #0070f3;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
}
button:hover {
  opacity: 0.9;
}
